html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  @page {
    size: auto;
    margin: 0;
}


:root{
    --color-DarkBlue: hsl(240, 38%, 20%);
    --color-GrayishBlue: hsl(240, 18%, 77%);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
margin: 1.5rem;
/* background-color: black; */
  }

  .container{
    position: relative;
  }
  
  .bg-img{
    width: 100%;
    z-index: -1;
    position: absolute;
  }
.background-img{
    position: relative;
}

.slider{
  display: flex;
  justify-content: center;
  height: 210px;
}


.slider-container {
    justify-items: center;
    display: grid;
    width: 68vw;
    height: 100%;
    max-width: 80rem;
    position: relative;
    border-radius: 0.3rem;
    overflow: hidden;
    margin-top: 1.5rem;
    box-shadow: rgb(50 50 93 / 25%) 11px 29px 100px -56px, rgb(0 0 0 / 30%) 0px 37px 60px -30px;
   
}

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: all 0.25s ease-in-out;
    text-align: center;
    
    
  }
  .slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
  }
 

  .np {
    position: relative;
    display: flex;
    width: 70px;
    height: 35px;
    background-color: beige;
    justify-content: space-between;
    padding: 0 0.5rem;
    border-radius: 20px;
    align-items: center;
    top: 5px;
    margin: 0 auto;
}

.btn {
    width: 8px;
    height: 13px;
}

.slide-gap{
  display: flex;
  
}

@media (min-width:375px) {
  .slider{
    display: flex;
    justify-content: center;
    height: 259px;
  }

  .slider-container {
    margin-top: 2rem;
}

.np{
  top: 14px;
}
}

@media (min-width:425px) {
  .slider{
    display: flex;
    justify-content: center;
    height: 300px;
  }

  .slider-container {
    margin-top: 2.3rem;
}
.np{
  top: 19px;
}
}